<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons">
				{% if site.twitter_url %}
				<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				{% endif %}
				{% if site.googleplus_url %}
				<li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
				{% endif %}
				{% if site.facebook_url %}
				<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
				{% endif %}
				{% if site.instagram_url %}
				<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				{% endif %}
				{% if site.pinterest_url %}
				<li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
				{% endif %}
				{% if site.500px_url %}
				<li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
				{% endif %}
				{% if site.gitlab_url %}
				<li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
				{% endif %}
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.slack_url %}
				<li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}
			</ul>
			<a style="border:none" href="{{ site.parent_url }}" ><img src="{{base}}/assets/images/dac-logo-white.png" width="300"></a>
			<ul class="copyright">
				<li>&copy; <a href="{{ site.organization_url }}" >{{ site.organization }}</a> <a href="{{ site.parent_url }}">{{ site.parent }}</a></li>
				<li><a href="{{base}}{% link information.md %}#credits" target="_blank">Credits</a></li>
			</ul>
		</div>
	</footer>

</div>

	<!-- Scripts -->
	<script src="{{base}}/assets/js/jquery.min.js"></script>
	<script src="{{base}}/assets/js/jquery.scrolly.min.js"></script>
	<script src="{{base}}/assets/js/jquery.scrollex.min.js"></script>
	<script src="{{base}}/assets/js/skel.min.js"></script>
	<script src="{{base}}/assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="{{base}}/assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{{base}}/assets/js/main.js"></script>

	<!-- slideshow -->
	{% if page.videos %}
	<script src="{{base}}/assets/js/video.min.js"></script> 
	<script src="{{base}}/assets/js/Youtube.min.js"></script>
	<script src="{{base}}/assets/js/slideshow-video.js"></script>
	{% endif %}

	<script src="{{base}}/assets/js/slideshow.js"></script>
	<script src="{{base}}/assets/js/lightslider.min.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-102559170-1', 'auto');
	  ga('send', 'pageview');
	</script>
